/* Wrapper */
.todo-wrapper {
  width: 900px;
  margin: 60px auto;
  padding: 20px;
}

/* Title */
.gradient-title {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(90deg, #c57dff, #5edfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 25px;
}

/* Input + Add Button */
.top-bar {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 12px 16px;
  border-radius: 8px;
  background: #1c1e22;
  border: 1px solid #2b2d31;
  color: #e6e6e6;
  font-size: 15px;
  transition: 0.2s;
}

.task-input:focus {
  border-color: #4cc9ff;
  background: #23252a;
  box-shadow:
    0 0 25px rgba(242, 0, 255, 0.4),
    0 0 60px rgba(0, 150, 255, 0.2),
    0 10px 30px rgba(0,0,0,0.5);
}

.add-btn {
  background: #4cc9ff;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  color: #0a0a0a;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background: #34b8ff;
  box-shadow:
    0 0 25px rgba(242, 0, 255, 0.4),
    0 0 60px rgba(0, 150, 255, 0.2),
    0 10px 30px rgba(0,0,0,0.5);
}

/* SAVE MESSAGE */
.save-msg {
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #4cff9a;
  font-weight: 600;
  text-align: center;

  opacity: 0;
  animation: fadeMsg 1.5s ease forwards;
}

@keyframes fadeMsg {
  0% { opacity: 0; transform: translateY(-5px); }
  20% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-5px); }
}

/* TABLE CONTAINER */
.table-container {
  background: #121417;
  padding: 18px;
  border-radius: 18px;
  transition: 0.3s;
}
.table-container:hover {
  /* Glow Shadow */
  box-shadow:
    0 0 30px rgba(242, 0, 255, 0.4),
    0 0 60px rgba(0, 150, 255, 0.2),
    0 10px 30px rgba(0,0,0,0.5);
}

/* Header */
.table-header {
  display: grid;
  grid-template-columns: 2fr 1.4fr 1fr 1fr;
  padding: 14px;
  background: #1c1e22;
  border-radius: 10px;
  font-weight: 600;
  color: #d7d7d7;
  border: 1px solid #2b2d31;
}

/* Fade animation */
.table-row {
  animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(6px); }
  to { opacity: 1; transform: translateY(0); }
}
